{
  "presets": [
    "react",
    ["env", { "targets": {
      "Chrome": 56
    }}]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-webpack",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        ["env", { "targets": {
          "node": 6
        }}]
      ],
      "plugins": [
        ["flow-runtime", {"assert": true}],
        "transform-async-to-generator"
      ],
    },
    "production": {
      "presets": [
        "react",
        "flow",
        ["env", { "targets": {
          "browsers": ["last 2 versions", "IE 11"]
        }}]
      ]
    }
  }
}