name: Continuous Integration
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 20
      - name: yarn
        run: yarn --frozen-lockfile
      - name: lint
        run: yarn lint

  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 20
      - name: yarn
        run: yarn --frozen-lockfile
      - name: tsc
        run: yarn tsc

  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: actions/setup-node@master
  #       with:
  #         node-version: 20
  #     - name: yarn
  #       run: yarn --frozen-lockfile
  #     - name: test
  #       run: |
  #         export DISPLAY=:99
  #         Xvfb -ac :99 -screen 0 2080x1024x24 >/dev/null 2>&1 &
  #         yarn run test