html, body, #root, #root > div {
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background: #fffefe;
    border: solid 1px #f0f0f0;
}

html {
    overflow: hidden;
}

#root > div {
    padding: 0px;
}  